@import "tailwindcss";

@layer base {
  @font-face {
    font-family: FuturaBook;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/futura-lt-w01-book.woff2) format("woff2");
  }
  @font-face {
    font-family: FuturaLight;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/futura-lt-w01-light.woff2) format("woff2");
  }
}

@theme {
  --font-futuraLt: FuturaLight;
  --font-futuraBk: FuturaBook;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply font-futuraLt;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
